<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <button class="btn btn-outline-info" (click)="submitBranch('civil')">Civil</button>
        </div>

        <div class="col-sm-3">
            <button class="btn btn-outline-success" (click)="submitBranch('mech')">Mech</button>
        </div>

        <div class="col-sm-3">
            <button class="btn btn-outline-secondary"(click)="submitBranch('cse')">CSE</button>
        </div>

        <div class="col-sm-3">
            <button class="btn btn-outline-danger" (click)="submitBranch('ece')">ECE</button>
        </div>
    </div>
</div>