*
{
	margin: 0px;
	padding: 0px;
}
.accordion
{
	width: 100%;
	height: 350px;
	margin: 50px auto;
	overflow: hidden;
}
.accordion ul
{
	list-style: none;
	cursor: pointer;
}
.accordion ul li
{
	position: relative;
	width: calc(100% / 7);
	float: left;
	transition: all 0.5s;
	box-shadow: 0px 0px 30px black;
}
.accordion ul:hover li
{
	width: calc((100% - 650px) / 6);
}
.accordion ul li:hover
{
	width: 650px;
}
.accordion ul li a
{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	padding: 15px;
	color: white;
	text-decoration: none;
	width: 100%;
	font-size: 20px;
	font-family: 'Oswald',sans-serif;
	text-transform: uppercase;
}