<div class="accordion">
    <ul>
        <li>
            <img src="../../assets/1.jpg" width="750px" height="350px">
            <a href="#">Library</a>
        </li>
        <li>
            <img src="../../assets/2.jpg" width="750px" height="350px">
            <a href="#">Sports</a>
        </li>
        <li>
            <img src="../../assets/3.jpg" width="750px" height="350px">
            <a href="#">Bus Facilities</a>
        </li>
        <li>
            <img src="../../assets/4.jpg" width="750px" height="350px"> 
            <a href="#">Canteen</a>
        </li>
        <li>
            <img src="../../assets/5.jpg" width="750px" height="350px">
            <a href="#">Laboratory</a>
        </li>
        <li>
            <img src="../../assets/6.jpg" width="750px" height="350px">
            <a href="#">Activities</a>
        </li>
        <li>
            <img src="../../assets/7.jpg" width="750px" height="350px">
            <a href="#">Tours</a>
        </li>
    </ul>
</div>
<div class="container-fluid">
<h6 class="display-4">Library</h6>
<p>The University College Library functions as the General Library and Departmental Libraries. The General Library block has three floors. Ground floor is the OERC (Online Education Research Centre). First floor is the Stack Room and Computer Area. Second floor is the Reading Room and EDUSAT Centre. The College Library has a good collection of about 148000 books. The General Library subscribes 40 Periodicals and 11 Newspapers. The Library has a special collection of books for NET Exams on all subjects.</p>


<h6 class="display-4">Sports</h6>
<p>One of the important advantages of University sports is developing a positive spirit to achieve success while playing for your University. This passion and positive spirit help students achieve their career goals easily. Through sports, they not only bring laurels to their University but get an opportunity to earn a decent income as well. If interested, you can always make an exciting career in sports or athletics.

    While sports offer amazing benefits to students in terms of health and mental development, it also enhances academic performance and helps them achieve better grades. Other than these benefits, students also get a sense of entertainment while getting exposed to different sports tournaments. At REVA University, you will find many options to stay fit and active. With state-of-the-art facilities on the campus including Cricket Ground, Basketball Court, Football Ground, Multi-gym Station, fitness programs, inter-college sports tournaments, the University provides opportunities for students, faculty members, and staff who aspire for more in-depth sports experience. Come, explore the lively campus today. </p>

<h6 class="display-4">Bus Facilities</h6>
<p>Transport service is an optional service facilitated and outsourced by the school for the convenience of its students. The College bus facility available to the student cannot be expected or demanded as a matter of right. We provide door to door transportation services in AC buses.Buses also have VTS(location tracking),security guard & care giver for student's safe pickup & drop.</p>

<h6 class="display-4">Canteen</h6>
<p>The canteen is situated within the college campus. It is open for all and there is a separate seating arrangement for staff, students and patients.  All types of snacks, soft drinks, meals are available at subsidized rates.

    The canteen is opens at 6 am up to 10 pm every day. The college has two canteens where a variety of tasty, hygienically prepared food is available at specially subsidized rates. Whether it is breakfast, lunch, a quick snack or a cup of coffee, the canteen is where you need to head. Conveniently located in the college quadrangle and just outside the main gate, the two canteens are easily accessible to staff and visitors as well. It is a pleasant sight to see students spread out across the quadrangle, enjoying their food in groups.</p>

<h6 class="display-4">Activities</h6>
<p>Practical youth work activities are the heart of any youth group. These include:

    Short-term activities which require little planning and are a great way to encourage social interaction, such as games, arts and crafts.
    Longer term activities, projects and events which require more advance planning such as workshops (for example dancing, sports), trips, discos/music events, youth exchanges, and inter-club visits.
    New volunteers bring with them their own skills and interests.  They may be able to add to the range of activities run in the youth group, and should be encouraged to do so. 
    
    Usually young people will be involved in deciding and planning the activities programme</p>

<h6 class="display-4 ">Tours</h6>
<p>IN ADDITION TO TAKING A walking tour of a college campus, why not boat, bike or drive around campus? As colleges try to attract more prospective students and families to their campuses, they are enhancing their tours to make them memorable experiences that stand out from other college campuses, a college consulting firm, says colleges need to be sure they are showing prospective students what it is really like to be on their campus. "What kids really want on a college tour is an authentic and real college experience," it says.
    
    INDIAN News spoke with eight colleges and universities from across the country that have created different campus tours in addition to their walking tours that highlight the aspects of their campuses that make them unique.</p>

<br>
<br>
<br>
</div>
