<div class="container-fluid">
    <img src="../../assets/pl1.jpg" alt="" width="250" height="150">
    <img src="../../assets/pl2.png" alt="" width="250" height="150">
    <img src="../../assets/pl10.png" alt="" width="250" height="150">
    <img src="../../assets/pl5.png" alt="" width="250" height="150">
    <img src="../../assets/pl9.png" alt="" width="250" height="150">
    <img src="../../assets/pl4.png" alt="" width="250" height="150">
    <img src="../../assets/pl6.png" alt="" width="250" height="150">
    <hr>
    <img src="../../assets/pl3.png" alt="" width="250" height="150">
    <img src="../../assets/pl7.jpg" alt="" width="250" height="150">
    <img src="../../assets/pl8.png" alt="" width="250" height="150">
    <img src="../../assets/pl12.png" alt="" width="250" height="150">
    <img src="../../assets/pl11.png" alt="" width="250" height="150">
    <img src="../../assets/pl13.png" alt="" width="250" height="150">
    <img src="../../assets/pl14.png" alt="" width="250" height="150">
        
       

   <hr> 
<p class="text-justify">Welcome to the Placements Website of TKR Group of Institutions, which is having a proven track record in placements. Our Graduates are attracting good number of Organizations both from IT sector and Core Sectors. At TKR, we always believe in equipping our students with the right talent and personality to face the industry requirements. Our focus on placement centers on creating new approaches to attract the best from the industry to our campus. At TKR, Placement time is not a mere annual ritual; it is a time for showcasing the very best in our young engineers to the industrial world. The Placement &amp; Training Cell functions with the primary aim of placing students in top-notch companies even before they have completed their courses. The Placement &amp; Training cell goes all out to train the students to meet the high industry expectations.</p>

<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" href="#tab1" data-toggle="tab">2019</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab2" data-toggle="tab">2018</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab3" data-toggle="tab">2017</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab4" data-toggle="tab">2016</a></li>
    <li class="nav-item"><a class="nav-link" href="#tab5" data-toggle="tab">2015</a></li>
    </ul>
    <hr>
    <div class="tab-content">
    <div id="tab1" class="tab-pane active">
    <h6 style="color: #008000;">2019 Year Placement Details</h6>
    <div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table class="table table-bordered table-sm">
    <thead>
    <tr class="table-secondary">
    <th width="8.333333%">Date</th>
    <th width="91.666667%">Placement Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>05.02.2020</td>
    <td>On Campus drive by RAAM GROUP  tomorrow 06-02-2020 for B.Tech 2020, of all branches &amp; (Dip.MECH ONLY) with 55% at 9:30AM in TKRCET Auditorium.SAL-2.4LPA. Carry your Resume &#8211; TPO</td>
    </tr>
    <tr>
    <td>29.01.2020</td>
    <td>On campus drive by NNIIT on 30/1/20 for B.Tech 2020, of all branches &amp; MBA. Reg in below link immediately <a style="color:blue" href="https://forms.gle/zaFn5yoFYvbcZbBB9" target="_blank" rel="noopener noreferrer">NNIIT</a> by 5PM to attend 30/1/2020 drive SAL 7LPA.TPO</td>
    </tr>
    <tr>
    <td>20.01.2020</td>
    <td>Off campus drive by DXC Technology by Cocubes on 28/1/20 fr 2020 Batch, of All brnchs wth 65%.Reg with link <a style="color:blue" href="https://www.cocubes.com/student/DXC_Apply_Here" target="_blank" rel="noopener noreferrer">DXC Technology</a> before 24/1/20 by 3PM.Venue will be informed directly to Reg students.SAL.3.4LPA-TPO</td>
    </tr>
    <tr>
    <td>20.01.2020</td>
    <td>On campus drive by Vertafore on 27/1/20 for 2020 Batch, of CSE / IT with 65%.Reg with link <a style="color:blue" href="https://forms.gle/3f3tx27uB3fBe67e8" target="_blank" rel="noopener noreferrer">Vertafore</a> before 22/1/20 by 1PM. After 1PM no applications will be accepted SAL.3LPA-TPO</td>
    </tr>
    <tr>
    <td>10.12.2019</td>
    <td>Off campus drive by NTT DATA @ Geethanjali College fr 2018/19 batch, all branches &amp; MCA 2018 and 2019 Passouts. Registration with link <a style="color: blue;" href="https://forms.gle/a1WQr1UPRSGYMeH26" target="_blank" rel="noopener noreferrer">NTT DATA</a> before 11/12/19 by 6PM-TPO</td>
    </tr>
    <tr>
    <td>06.12.2019</td>
    <td>Pool campus drive by ZenQ at VJIT college for B.Tech 2020 of CSE, IT, ECE, EEE, Mech. Reg in link <a style="color: blue;" href="https://docs.google.com/forms/d/e/1FAIpQLSfGeN0XkNaJYITbxt2KqvCfWoddwqJv2hxYPRMwsp8NyOrrTA/viewform?usp=sf_link" target="_blank" rel="noopener noreferrer">ZenQ</a> (Last Date to register- 7th December 11am)SAL.2.80LPA-TPO</td>
    </tr>
    <tr>
    <td>06.12.2019</td>
    <td>On campus drive by GENPACT from 2020 Batch All branches. Registration in Link immediately <a href="https://genpact.avature.net/campuscommunity">GENPACT</a> &amp; take test with below link students have 42hrs to complete test, Do?s &amp; Don?ts of test check in your mail &amp; Whatsapp group. Drive date will be intimated later &#8211; TPO.</td>
    </tr>
    <tr>
    <td>05.12.2019</td>
    <td>On / Pool Campus Drive by Accenture fr 2019 batch of CSE / IT / ECE / EEE / Mech with 60%, is rescheduled &amp; confirm on 7th &amp; 8th Dec 19, So students will get the same invitation from Accenture. Venue: TKRCET. Auditorium .Reporting time fr drive as per mentioned in your mail received from Accenture.TPO</td>
    </tr>
    <tr>
    <td>29.11.2019</td>
    <td>Dear All,<br />
    please note that the drive scheduled from Accenture is cancelled due to constructive demand hiring from Hyderabad is high so the higher management of Accenture have decided as of now not to go ahead with any campus hiring prospective as of now&#8230;</td>
    </tr>
    <tr>
    <td>21.11.2019</td>
    <td>On / Pool campus drive by Accenture on 30/11/19 at TKRCET (K9) Audtrm for B.Tech 2019 passed outs students of CSE / IT / ECE / EEE / Mech wth 65%. Reg Link <a href="https://a.hirepro.in/BGJ7RWfc" target="_blank" rel="noopener noreferrer">Accenture</a> by 29-11-2019 3PM -TPO</td>
    </tr>
    <tr>
    <td>21.11.2019</td>
    <td>Off campus drive by  Hewlett Packard Enterprise  for B.Tech 2020 Batch of CSE/IT/ECE/EEE with 60%.On 27<sup>th</sup> &amp; 28<sup>th</sup> Nov, 2019 at VJIT. Salary 5LPA</td>
    </tr>
    <tr>
    <td>21.11.2019</td>
    <td>Off campus drive by IBM fr Associate System Engineer role fr B.Tech 2020 (only Females) of  CSE / IT / ECE / EEE wth 60%. Reg with Link <a href="https://forms.akkroo.com/events/ibmindia/288179?background=ffffff&amp;font=4a599e&amp;page=ffffff" target="_blank" rel="noopener noreferrer">AkkrooWebforms</a> by 27-11-19 3PM TPO</td>
    </tr>
    <tr>
    <td>21.11.2019</td>
    <td>Off campus drive by SUNERA TECH  for B.Tech 2019 pass outs of CSE / IT / ECE / EEE / MBA with 65%.On 23-11-2019  at CMR Engg college. Salary 2.40 to 3LPA</td>
    </tr>
    <tr>
    <td>17.11.2019</td>
    <td>Dear Students,<br />
    Greetings!<br />
    <a href="https://in10stech.com/" target="_blank" rel="noopener noreferrer">Intense Technologies</a> is hiring B.Tech (CSE, IT, ECE &amp; EEE) students only for the roles of Management Trainee and Business Consultant, please find the complete JD attached to this message.<br />
    Day/Date of Written test: &#8211; Tuesday, 19th November 2019.<br />
    Reporting time: &#8211; 9:30 A.M.<br />
    Venue: &#8211; TKR College of Engineering &amp; Technology (K9) auditorium.</td>
    </tr>
    <tr>
    <td>05.11.2019</td>
    <td>TASK OFF Campus Drive by TA DIGITAL  on 05-11-2019 &amp; 06-11-2019 Salary 4.8 TO 5.8 L PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>03.11.2019</td>
    <td>TASK OFF Campus Drive by ZenQ Salary 2.8 L PA &#8211; TPO.</td>
    </tr>
    <tr></tr>
    <tr>
    <td>02.11.2019</td>
    <td>OFF Campus Drive by COGNIZANT on 02-11-2019 &amp; 03-11-2019 Salary 4 L PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>01.11.2019</td>
    <td>OFF Campus Drive by ADP Salary 5 L PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>01.11.2019</td>
    <td>TASK OFF Campus Drive by VALUEMOMENTUM on 01-11-2019 &amp; 02-11-2019 Salary 3.8 L PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>25.10.2019</td>
    <td>OFF Campus Drive by APP ASSOCIATES on 25-10-2019 &amp; 26-10-2019. Salary 4 L PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>13.10.2019</td>
    <td>OFF Campus Drive by OPENTEXT Salary 6.82 L PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>10.10.2019</td>
    <td>OFF Campus Drive by HARMAN Salary 2.4 TO 2.6 L PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>27.09.2019</td>
    <td>On Campus Drive by Glenwood Systems for B.Tech 2020 CSE / IT / ECE &amp; EEE with 60% on 30-03-2019 at 9AM in TKRCET Auditorium. Salary 2.7 to 3 LPA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>27.09.2019</td>
    <td>Off Campus drive by Mindtree from B.Tech 2020 CSE / IT / ECE &amp; EEE with 65%. Register with Link <a style="color: blue;" href="https://bit.ly/2lQC3Ac" target="_blank" rel="noopener noreferrer">Mindtree</a> Salary 305 LPA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>27.09.2019</td>
    <td>On Campus Drive by MTX Group inc. from B.Tech 2020 (TASK Registered) CSE / IT with 65% immediately Register with link <a style="color: blue;" href="https://www.task.telangana.gov.in/Placements/MTX_Group_Inc" target="_blank" rel="noopener noreferrer">MTX Group inc</a> by 28-09-2019 3PM SAL 6.5 LPA &#8211; TPO</td>
    </tr>
    <tr>
    <td>23.09.2019</td>
    <td>OFF Campus drive by Techolution Salary 3.5 LPA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>21.09.2019</td>
    <td>Off Campus drive by Darwinbox Digital Solutions through Costuco from B.TEch 2020, CSE / IT with 65%. Immediately Register with Link <a style="color: blue;" href="https://bit.ly/2P8uKl9" target="_blank" rel="noopener noreferrer">Darwinbox Digital Solutions</a> by 21-09-2019 day end Salary 07.20 to 08.20 LPA, TPO.</td>
    </tr>
    <tr>
    <td>21.09.2019</td>
    <td>Off Campus drive by Infosys from final year all branches (TASK Registered Students) with 68%. Register with Link <a style="color: blue;" href="https://www.task.telangana.gov.in/Placements/Infosys_Engg_2020" target="_blank" rel="noopener noreferrer">TASK-Telangana Academy for Skill and Knowledge</a> TPO.</td>
    </tr>
    <tr>
    <td>06.09.2019</td>
    <td>On Campus drive by Eidiko Systems integrators for B.Tech Final year of EEE / ECE / CSE / IT with 60% above without backlogs on 9/9/19 at K9 Auditorium, Registration Immediately with link <a style="color: blue;" href="https://docs.google.com/forms/d/1jRSbKicxxDDvWle0Gk7-ebmquvYZ9ptnEPf74WC9-Xs/edit" target="_blank" rel="noopener noreferrer">Eidiko Systems</a> By 7/9/19 3PM &amp;(It&#8217;s mandatory to upload the photo) TPO.</td>
    </tr>
    <tr>
    <td>05.09.2019</td>
    <td>On / Pool Campus Drive by Cognizant from B.TEch final year of EEE / ECE / CSE / IT &amp; Mech with 60% above without backlogs. Register with link <a style="color: blue;" href="http://forms.gle/N7hrA6g1qDVHzKJN6" target="_blank" rel="noopener noreferrer">Cognizant</a> before 08-09-2019 by 03 PM, recruitment date will be intimated later, Salary 04 Lakhs PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>05.09.2019</td>
    <td>On Campus Drive by Eidiko Systems Integrators from B.TEch final year of EEE / ECE / CSE / IT with 60% above without backlogs. On 09-09-2019 at 09:30 AM in K9 Auditorium. Register with link <a style="color: blue;" href="http://forms.gle/N7hrA6g1qDVHzKJN6" target="_blank" rel="noopener noreferrer">Eidiko Systems</a> before 08-09-2019 by 03 PM, Salary 02 Lakhs PA &#8211; TPO.</td>
    </tr>
    <tr>
    <td>03.09.2019</td>
    <td>On / Pool Campus Drive by Aspire Systems for B.TEch 2019 passouts of EEE / ECE / CSE / IT with 60%. On 07-09-2019 at 09:30 AM in K9 Auditorium. Register with link <a style="color: blue;" href="http://forms.gle/6va79kw5kkZDQd5h9" target="_blank" rel="noopener noreferrer">Aspire Systems</a> before 05-09-2019 by 03 PM &#8211; TPO.</td>
    </tr>
    <tr>
    <td>28.08.2019</td>
    <td>On Campus Drive by Multiplier Solutions from (2020) B.TEch final year of All Branches with 60% above without backlogs, Tomorrow 29-08-2019 at 09:30 AM in TKRCET Auditorium. Registration with Link <a href="https://forms.gle/DB1tBmfZpD83K2BG8" target="_blank" rel="noopener noreferrer">Multiplier Solutions</a> before 03:00 PM Salary 2.2 to 05 Lakhs per Annam – TPO.</td>
    </tr>
    <tr>
    <td>20.08.2019</td>
    <td>On Campus Drive by Quest Global from B.TEch 2019 Pass outs of EEE / ECE with 65% tomorrow 23-08-2019 at 09:30 AM in TKRCET Auditorium. Carry your Resume – TPO.</td>
    </tr>
    <tr>
    <td>20.08.2019</td>
    <td>On Campus by Euthissa Care Technology Pvt. Ltd. fr B.TEch EEE / ECE / CSE / IT, Diploma (ECE, CSE, EEE), MBA (MTKG &amp; FIN) with 60% on 23-08-2019 at 09:30 AM in TKRCET auditorium, Reg with link on are before 22-08-2019 <a style="color: blue;" href="http://intern.euthissa.in" target="_blank" rel="noopener noreferrer">EUTHISSA</a></td>
    </tr>
    <tr>
    <td>09.07.2019</td>
    <td>CRT Agenda for 2019 – 2023 Batch <a style="color: blue;" href="http://tkrcet.ac.in/wp-content/uploads/2019/07/CRT-2019-–-2023-Batch.docx" target="_blank" rel="noopener noreferrer">Download</a> &#8211; TPO</td>
    </tr>
    <tr>
    <td>29.06.2019</td>
    <td>Students shortlisted for Service Now are requested to attend the classes starting from 01-07-2019 at TASK off Begumpet from 09:00 AM to 06:00 PM every day attendance are tracked strictly &#8211; TPO</td>
    </tr>
    <tr>
    <td>29.06.2019</td>
    <td>TCS NQT hiring B.Tech 2020 Batch stuents all branches eligible 60% above with 1 backlog also eligible apply on the link <a style="color: blue;" href="https://on.tcs.com/2WTIzqn" target="_blank" rel="noopener noreferrer">https://on.tcs.com/2WTIzqn</a> by 05-07-2019 &#8211; TPO</td>
    </tr>
    <tr>
    <td>29.06.2019</td>
    <td>EPAM hiring B.Tech 2020 Batch CSE, IT, ECE 60% above students only, INR 06,00 Lacs pac apply on the link <a style="color: blue;" href="https://forms.gle/KDPcpozPs1HbZpgx6" target="_blank" rel="noopener noreferrer">https://forms.gle/KDPcpozPs1HbZpgx6</a> by 01-07-2019 by 03:00 PM &#8211; TPO</td>
    </tr>
    <tr>
    <td>24.04.2019</td>
    <td>On Campus by JIO thru TASK fr Diploma 2019 &#8211; Batch (EEE / ECE only) on 26-04-2019 @ 09:30 AM in TKRCET Auditorium. Student must carry Smart Phones. Salary 01.56 to 02.12 Lakhs per Annam &#8211; TPO</td>
    </tr>
    <tr>
    <td>16.04.2019</td>
    <td>On Campus drive by Multiplier Solutions tomorrow 17-04-2019 fr B.Tech ECE / EEE / CSE / IT / MECH, with backlogs also eligible @ 09:30 AM in TKRCET Auditorium Sal 02.3 to 04 Lakhs Per Annam &#8211; TPO</td>
    </tr>
    <tr>
    <td>09.04.2019</td>
    <td>On campus drive by FedEx fr B.Tech 2019 batch. All branches, No% Criteria. On 16-04-2019 (Tuesday) @ 9 AM in TKRCET Audit. SAL 2.75 LPA &#8211; TPO</td>
    </tr>
    <tr>
    <td>17.01.2019</td>
    <td>On Campus Drive by INTENSETECH TECHNOLOGIES for 2019 batch with 60% for EEE/ECE/CSE/IT/MECH on 18-01-2019 (FRIDAY) in TKRCET (K9) Auditorium.</td>
    </tr>
    <tr>
    <td>17.01.2019</td>
    <td>On Campus Drive by AHEX TECHNOLOGIES for 2019 batch with 60% for ALL BRANCHES on 19-01-2019 (SATURDAY) in TKRCET (K9) Auditorium.</td>
    </tr>
    <tr>
    <td>09.01.2019</td>
    <td>On Campus Drive by RAAM GROUPS for 2019 batch with 65% for ALL BRANCHES on 10-01-2019 in TKREC (R9) Auditorium.</td>
    </tr>
    <tr>
    <td>08.01.2019</td>
    <td>On Campus Drive by AHEX TECHNOLOGIES for 2019 batch with 60% for ALL BRANCHES. Apply through the link: https://goo.gl/forms/mlwbj8Z2VXspmeW62. Drive Date will be intimated later.</td>
    </tr>
    <tr>
    <td>04.01.2019</td>
    <td>On Campus Drive by DECATHLON, INDIA for 2019 batch for ALL BRANCHES (Male &amp; Female) on 05/01/2019. Salary: 2.4 to 3 LPA. Contact TPO for more details.</td>
    </tr>
    <tr>
    <td>02.01.2019</td>
    <td>On Campus Drive (TASK) by ZENQ for 2019 batch for EEE/ECE/CSE/IT/MECHALL BRANCHES with 70% &amp; TASK Registered Students only to attend on 03/01/2019 @ VBIT. Check your mail for more details.</td>
    </tr>
    <tr>
    <td>02.01.2019</td>
    <td>On Campus Drive by WESTLINE GROUP for B.Tech 2019 (ONLY MALE) batch with 70% for ALL BRANCHES on 03-01-2019 in TKRCET (k9) Auditorium @ 9:30AM.</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <div id="tab2" class="tab-pane">
    <h6 style="color: #008000;">2018 Year Placement Details</h6>
    <table class="table table-bordered">
    <thead>
    <tr class="table-secondary">
    <th width="8.333333%">Date</th>
    <th width="91.666667%">Placement Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>25.08.2018</td>
    <td>Pool Campus Drive by Infosys on 25th, 26th &amp; 27th August 2018 in our college campus.</td>
    </tr>
    <tr>
    <td>28.07.2018</td>
    <td>Off Campus Drive by Multiplier IT Solutions for 2018 EEE/ECE/CSE/IT on 31-07-2018 in TKRCET Auditorium.</td>
    </tr>
    </tbody>
    </table>
</div>
<div id="tab3" class="tab-pane">
<h6 style="color: #008000;">2017 Year Placement Details</h6>
<p>No Data Avalable</p>
</div>
<div id="tab4" class="tab-pane">
<h6 style="color: #008000;">2016 Year Placement Details</h6>
<p>No Data Avalable</p>
</div>
<div id="tab5" class="tab-pane">
<h6 style="color: #008000;">2015 Year Placement Details</h6>
<p>No Data Avalable</p>
</div>
</div>


<ul class="list-unstyled">
<li><strong>Dr. Satya Murthy</strong></li>
<li>Dean</li>
<li>Campus Relations</li>
<li>+91 8498085225</li></ul>
</div>