<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<div class="wrapper">
    <h1>Our Team</h1>
    <div class="our_team">
        <div class="team_member">
          <div class="member_img">
             <img src="../assets/satwick (1).jpeg" alt="our_team">
            <div class="social_media">
               <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
               <div class="twitter item"><i class="fab fa-twitter"></i></div>
               <div class="instagram item"><i class="fab fa-instagram"></i></div>
             </div>
          </div>
          <h3>Satwick A</h3>
          <span>Team Memeber</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
        </div>
        <div class="team_member">
           <div class="member_img">
             <img src="../../assets/mani (1).jpeg" alt="our_team">
             <div class="social_media">
               <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
               <div class="twitter item"><i class="fab fa-twitter"></i></div>
               <div class="instagram item"><i class="fab fa-instagram"></i></div>
             </div>
          </div>
          <h3>Manikanta S</h3>
          <span>Team Memeber</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
      </div>
        <div class="team_member">
           <div class="member_img">
             <img src="../../assets/prane (1).jpeg" alt="our_team">
             <div class="social_media">
               <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
               <div class="twitter item"><i class="fab fa-twitter"></i></div>
               <div class="instagram item"><i class="fab fa-instagram"></i></div>
             </div>
          </div>
          <h3>Praneeth Reddy</h3>
          <span>Team Memeber</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
      </div>
        <div class="team_member">
           <div class="member_img">
             <img src="../../assets/chanchu (1).jpeg" alt="our_team">
             <div class="social_media">
               <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
               <div class="twitter item"><i class="fab fa-twitter"></i></div>
               <div class="instagram item"><i class="fab fa-instagram"></i></div>
             </div>
          </div>
          <h3>Vijaya Lakshmi CH</h3>
          <span>Team Memeber</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
      </div>
      <div class="team_member">
        <div class="member_img">
          <img src="../../assets/siri.jpg" alt="our_team">
          <div class="social_media">
            <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
            <div class="twitter item"><i class="fab fa-twitter"></i></div>
            <div class="instagram item"><i class="fab fa-instagram"></i></div>
          </div>
       </div>
       <h3>Sireesha A</h3>
       <span>Team Leader</span>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
   </div>
   <div class="team_member">
    <div class="member_img">
      <img src="../../assets/ranji.jpeg" alt="our_team">
      <div class="social_media">
        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
        <div class="twitter item"><i class="fab fa-twitter"></i></div>
        <div class="instagram item"><i class="fab fa-instagram"></i></div>
      </div>
   </div>
   <h3>Ranjith J</h3>
   <span>Team Memeber</span>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
</div>
<div class="team_member">
    <div class="member_img">
      <img src="../../assets/rohi.jpeg" alt="our_team">
      <div class="social_media">
        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
        <div class="twitter item"><i class="fab fa-twitter"></i></div>
        <div class="instagram item"><i class="fab fa-instagram"></i></div>
      </div>
   </div>
   <h3>Rohith</h3>
   <span>Team Memeber</span>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>
</div>  
    </div>
</div>